/* Medium devices (tablets, 768px and up) */
@media (min-width: 767px) {
  :root {
    font-size: 17px;
  }

  body {
    padding-left: 0;
  }

  section {
    width: 93%;
    margin: 0 auto;
    min-height: 100vh;
  }

  section.portfolio .portfolio_gallery {
    flex-direction: row;
    flex-flow: wrap;
    align-items: baseline;
  }

  section.portfolio .portfolio_gallery .project {
    margin-right: 1rem;
    width: 20rem;
  }

	section.articles .articles_gallery {
		flex-direction: row;
		align-items: baseline;
		/* gap: 2rem; */
	}
	
	section.articles .articles_gallery .article {
		width: 20rem;
	}
}
